DebugInfo/
.gdb_history
*.o

cmake-build-debug/
CMakeFiles/
cmake_install.cmake
CMakeCache.txt
FTPServer

Makefile
FTPServer.cbp

.*.sw*

.idea/
.fuse_hidden00008c0900000003

.gradle/
gradlew
gradlew.bat
out/
build/
